<!-- ===== GLOBAL FOOTER ===== -->
<footer class="footer-global">
  <div class="footer-content">
    <div class="footer-top">
      <a href="https://www.tiktok.com/@ifsedthenjed" target="_blank" class="footer-social-link" title="TikTok">
        <svg width="20" height="20" viewBox="0 0 24 24" fill="currentColor"><path d="M12.525.02c1.31-.02 2.61-.01 3.91-.02.08 1.53.63 3.09 1.75 4.17 1.12 1.11 2.7 1.62 4.24 1.79v4.03c-1.44-.17-2.86-.6-4.12-1.31a6.33 6.33 0 0 1-1.55-1.11v9.91a8.13 8.13 0 0 1-2.31 5.7 8.32 8.32 0 0 1-13.9-3.4 8.07 8.07 0 0 1 1.96-7.8 8.17 8.17 0 0 1 8.06-2.15V14.1a4.13 4.13 0 0 0-4.03 2.5 4.07 4.07 0 0 0 .52 4.36 4.13 4.13 0 0 0 6.6-1.55c.07-.35.09-.71.09-1.06V.02h.78z"/></svg>
        <span>TikTok</span>
      </a>
      <a href="https://www.facebook.com/ifsedthenjed" target="_blank" class="footer-social-link" title="Facebook">
        <svg width="20" height="20" viewBox="0 0 24 24" fill="currentColor"><path d="M22 12c0-5.52-4.48-10-10-10S2 6.48 2 12c0 4.84 3.44 8.87 8 9.8V15H8v-3h2V9.5C10 7.57 11.57 6 13.5 6H16v3h-2c-.55 0-1 .45-1 1v2h3v3h-3v6.95c5.05-.5 9-4.76 9-9.95z"/></svg>
        <span>Facebook</span>
      </a>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2026 Ipon Challenge &mdash; Smart Savings Dashboard</p>
      <p class="copyright-social">All Rights Reserved &nbsp;|&nbsp; @ifsedthenjed</p>
    </div>
  </div>
</footer>
